@import '../Cores.scss';
@import '../../fonts/Fontes.scss';

.conteiner{
    padding: 0px 10px;

    h2{
        color: $cor-titulo;
        font-family: $fonte-principal;
        text-align: center;
    }

#listagem{
    margin: 5px;
    
    .item{
        text-align: center;
        font-family: $fonte-principal;
        color: $cor-titulo;
        background-color: $cor-fundo-item1;
        padding: 25px;
        border-radius: 5px;
        margin-bottom: 15px;
            }
    }

#areaBotao{
    margin: 5px;

    #botaoNovaLista{
        width: 45px;
        float: right;
    }
}


}