@font-face {
    font-family: 'intem lista';
    src: url(./HomemadeApple-Regular.ttf);
    }

@font-face{
    font-family: 'principal';
    src: url(./Cairo-Regular.ttf);
}
$fonte-principal: 'principal';
$fonte-lista: 'item lista';